.main {
  padding: 8% 4% 2% !important;
}

.Generate_h1_label {
  display: flex;
  flex-basis: 40%;
  margin-left: 5%;
  flex-wrap: nowrap;
  align-items: center;
}

.framework__row-wrapper {
  display: flex;
  flex-basis: 100%;
  /* padding: 0px;
    margin: 0px; */
}

.framework__row {
  display: flex;
  flex-basis: 50%;

  /* padding: 0px;
    margin: 0px; */
}

.right {
  margin-right: 2%;
  justify-content: right;
}

.framework__row .framework__title {
  margin-left: 0px;
  white-space: nowrap;
  display: flex;
  flex-basis: 12%;
  align-items: center;
  color: #2c2c2c;
  font-size: 12px;
}

.framework__row .framework__input {
  padding: 10px 14px;
  font-size: 15px;
  outline: none;
  background: rgba(32, 136, 189, 0.1);
  border-radius: 10px;
  display: flex;
  flex-basis: 100%;
}

.framework__row-wrapper .framework__title {
  white-space: nowrap;
  display: flex;
  flex-basis: 10%;
  align-items: center;
  color: #2c2c2c;
  font-size: 12px;
}
.framework__row .framework__title1 {
  white-space: nowrap;
  display: flex;
  flex-basis: 23%;
  align-items: center;
  color: #2c2c2c;
  font-size: 12px;
}

.framework__row-wrapper .framework__input {
  padding: 10px 14px;
  font-size: 15px;
  outline: none;
  background: rgba(32, 136, 189, 0.1);
  border-radius: 10px;
  display: flex;
  flex-basis: 100%;
}
.framework__col-wrapper {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

.framework__title svg {
  margin-left: 5px;
  cursor: help;
}

.add__logo-form,
.file-form {
  width: fit-content;
  display: flex;
  align-items: left;
  font-size: 16px;
  margin-left: 5%;
  margin-top: 2%;
  color: #585e62;
}
.add__logo-form.upload-cover {
  margin-left: 0;
  margin-top: 0;
}
.file-form .main__button {
  align-self: center;
}

.file-form .main__button:hover {
  text-decoration: none;
}

.aside__title {
  margin-top: 15px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  background: #499e43;
  padding: 5px;
  color: #fff;
  font-family: inherit;
}

.cli-add-main__content-wrapper {
  margin: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 20px;
}

.content-wrapper {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.08);
  justify-content: center;
}

.add__logo-logo {
  margin-left: 0px;
  justify-content: left;
}

.add__logo-logo img {
  width: 100%;
  max-width: 50px;
  min-width: 30px;
}

.add__logo-form > span {
  margin: 0 10px;
}

.add__logo-input {
  width: 0.1em;
  height: 0.1em;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.add__logo-label {
  margin-left: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.add__logo-label:hover {
  text-decoration: underline;
}

.add__logo-remove {
  font-size: 16px;
  color: #585e62;
  background: transparent;
  cursor: pointer;
}

.add__logo-remove:hover {
  text-decoration: underline;
}

.browse__btn {
  margin: 0 0 0 40px;
}

.buttons__panel-button {
  margin-top: 20px;
  align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .framework__row {
    flex-wrap: wrap;
    margin-bottom: 10px;
    flex-basis: 100%;
  }

  .framework__row-wrapper {
    flex-wrap: wrap;
    margin-bottom: 10px;
    flex-basis: 100%;
  }

  .right {
    margin-right: 0px;
    justify-content: left;
  }

  .framework__row .address_title {
    margin-top: 0px;
  }
}

.bot5 {
  margin-bottom: 5px;
}

.bot10 {
  margin-bottom: 10px;
}

.mar20 {
  margin: 20px;
}

.margin_bot50 {
  margin-bottom: 60px;
}
/* h1.framework__title.width20 {
    display: flex;
    flex-basis: 11%;
}

input.framework__input.cc_width {
    display: flex;
    flex-basis: 100%;
    margin: 1%;
} */

/* .phone_width20{
    display: flex;
    flex-basis: 90%;
    margin: 1%;
} */
.font12 {
  font-size: 12px;
}
.input.framework__input {
  height: 40px;
}
.create-framework__row-wrapper .create-framework__input {
  width: 15%;
}
.radios {
  justify-content: flex-start;
}
.radios .create-framework__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 150px;
  text-align: start;
}
.fake__radio {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 18px;
  height: 18px;
  background: #e9f3f8;
  border: 1px solid #2088bd;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.buttons__panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.radios .create-framework__input:checked ~ .fake__radio .fake__radio-active {
  opacity: 1;
}
.fake__radio-active {
  width: 18px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #2088bd;
  opacity: 0;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
