.paymnet-summary-container {
    display: block;
    margin: 4em;
    width: 100%;
}

.paymnet-header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
}

.paymnet-summary-block {
    display: flex;
    justify-content: space-around;
    margin: 8em 0em;
}

.checkout-container {
    width: 100%;
}

.main-btn {
    background: #499E43;
    border-radius: 5px;
    padding: 10px 36px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.package-make-pymt-btn {
    display: flex;
    margin: 1em auto;
}

.package-summary-page-next-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 16em;

}

.change-package-link {
    cursor: pointer;
    color: #2088BD;
    text-decoration: revert;
}