.text-overflow-control { white-space: nowrap;
text-overflow: ellipsis;
width: 238px;
display: block !important;
overflow: hidden;
}

.question-save-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.question-save-btn {
    padding: 4px 11px;
    background: #499E43;;
    margin: 4px 4px;
    color: #FFFFFF;
}

.answer_question-file_upload {
    align-items: center;
    justify-content: flex-start;
    display: block;
}

.answer_question-file_upload .create-framework__title {
    margin-top: 1em !important;
}
.disclosure-detalis__title {
    width: 46em;
}

.disclosure-description-screen {
padding: 0.5em 1em 1em 0.5em;
margin-bottom: 1em;
border: 1px solid lightgray;
}

.detalis__reassign {
    margin-left: 7em;
}

.document-upload-container {
width: 100% !important;
}

.multi-file-list {
    margin: 1em 0em;
}

.multi-file-scroll {
    display: flex;
    overflow: scroll;
    max-width: 53em;
}

.multi-file-block {
    width: 55px !important;
    padding: 0em 0.5em !important;
}
.file-close-block {
    display: flex !important;
    justify-content: center !important;
    margin-top: 4px !important;
}
.file-close-block-img {
    border: 1px solid !important;
    border-radius: 50% !important;
}

.multi-file-image {
width: 40px;
height: 40px;
}