.text-overflow-control { white-space: nowrap;
text-overflow: ellipsis;
width: 238px;
display: block !important;
overflow: hidden;
}

.question-save-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.question-save-btn {
    padding: 4px 11px;
    background: #499E43;;
    margin: 4px 4px;
    color: #FFFFFF;
}

.answer_question-file_upload {
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.answer_question-file_upload .create-framework__title {
    margin-top: 1em !important;
}