
.user__wrapper {
    display: flex;
    align-items: center;
    background: rgba(32, 136, 189, 0.1);
    /* padding: 20px 22px; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.user-wrapper-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
}

.user-wrapper-scroll .user__container {
    margin: none !important;
}