#viewDisclosures {
  margin-top: 1em;
}
#viewDisclosures .view-framework-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  width: 100%;
  background: #FFFFFF;
  background: #FFFFFF;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 2em 1em;
}

#viewDisclosures .view-framework-container {
  max-height: 100%;
  overflow-y: scroll;
}

#viewDisclosures .default-flex-table {
  border-collapse: collapse;
  width: 100%;
}

.default-flex-table tr {}

#viewDisclosures .default-flex-table th {
  padding: 0.5em 1em;
  background: rgba(32, 136, 189, 0.3);
}
.disc-framework-details > table > tr >td {
  margin-top: 0.5em !important;
  border-bottom: 0px !important;
  padding: 0.8em 1em !important;
}
#viewDisclosures .default-flex-table td {
  padding: 0.7em 1em !important;
  line-height: 1.5;
  border-bottom: 0px !important;
  /* border-bottom: 1px solid #FFFFFF; */
}

#viewDisclosures .default-flex-table th,
#viewDisclosures .default-flex-table td {
  font-size: 16px;
  text-align: left;
}


#viewDisclosures .framedropdown {
  position: absolute;
  border: 2px solid #2088BD;
  background: #d7eef6;
  font-size: small;
  width: 12em;
  padding: 10px;
  display: flex;
  margin: -3.5em -12em;
  display: none;
  border-radius: 10px;
  color: #2088BD;
}

.row-catagory-display  {
  display: flex;
  justify-content: space-evenly;
  margin: 12px;
  background: #d7eef6;
  display: flex;
  border-radius: 20px;
  padding: 0.8em 1em;
}



#viewDisclosures .viewFramework:active {
  display: none;
}
#viewDisclosures .frametoggler:focus {
  outline: block;
}

#viewDisclosures .frametoggler:focus+.framedropdown {
  display: block;
}

#viewDisclosures .framedropdown a {
  text-decoration: underline;
  cursor: pointer;
}
.disc-framework-details  {
  display: flex !important;
}