.map__questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 15px;
    padding-right: 10px;
    overflow-y: auto;
}
.map__wrapper .assign__title, .map__wrapper .frameworks__choose,
.map__wrapper .assign__categories, .map__check-item {
    margin-bottom: 30px;
}
.map__wrapper .frameworks__choose {
    padding-left: 20px;
}
.map__wrapper .frameworks__choose-item {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.08);
}
.map__check-item .disclosures__wrapper {
    max-height: 190px;
    overflow-y: auto;
    padding-right: 20px;
}
.map__check-item .disclosures__item {
    display: flex;
    gap: 15px;
}
.map__check-item .disclosures__item:not(:last-child) {
    margin-bottom: 5%;
}
.map__check-item .disclosures__detalis {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background: rgba(32, 136, 189, 0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-left: 8px;
}
.map__check-item .fake__checkbox-inactive {
    position: relative;
    width: 40px;
    height: 40px;
    background: rgba(32, 136, 189, 0.1);
    border: 4px solid #2088BD;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.box-inactive{
    position: relative !important;
    width: 40px !important;
    height: 40px !important;
    background: rgba(32, 136, 189, 0.1) !important;
    border: 4px solid #2088BD !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    cursor: pointer;
}
.map__check-item .fake__checkbox-active {
    position: relative;
    width: 40px;
    height: 40px;
    background: rgba(32, 136, 189, 0.1);
    border: 4px solid #2088BD;
    background: url("../../assets/icons/Arrows__checkbox.svg") no-repeat center/100%, #2088BD;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: not-allowed;
}

.map-diclosures-catagory {
    margin-bottom: 0.3em;
}
.map-disc-main-btn {
    white-space: nowrap;
    max-width: 11em !important;
}

.map__check-item .disclosures__checkbox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}
.map__check-item .disclosures__checkbox:checked ~ .fake__checkbox {
    background: url('../../assets/icons/Arrows__checkbox.svg') no-repeat center/100%, #2088BD;
}


@media screen and (min-width: 1440px) and (max-width: 1919.8px) {
    .map__check-item .disclosures__detalis {
        font-size: 16px;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1919.8px) {
    
}

@media screen and (min-width: 1440px) and (max-width: 1599.8px) {
    
}

@media screen and (max-width: 1439.8px) {
    .map__check-item .disclosures__detalis {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1439.8px) {
    
}

@media screen and (max-width: 1199.8px) {
    .map__check-item .disclosures__detalis {
        font-size: 12px;
    }
}


.disable-cursor{
    cursor: not-allowed;
}

.over-write-frameworks__choose {
    margin-bottom: 20px !important;
    padding-top: 10px !important;
}
.cards-wrapper {
    grid-column: center-start / -1;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow: auto;
    padding-bottom: 1rem;
    max-width: 54em;
    padding-right: var(--page-margin);
}

.frameworks__choose {
    display: flex;
    gap: 25px;
    width: fit-content;
}
.frameworks__choose-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 105px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}