input[type='radio']:after {
        width: 18px;
        height: 18px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;

        content: '';
        display: inline-block;
        visibility: visible;

    }

    input[type='radio']:checked:after {
        width: 18px;
        height: 18px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;

        content: '';
        display: inline-block;
        visibility: visible;
    }

    .radio-label {
        padding-left: 4px;
    }

    .RadioButton {
        margin: 0px 12px;
    }