/* .aside-framework {
    max-width: 386px;
    min-width: 335px;
    background: #EFF5F9;
    box-shadow: inset -20px 0px 30px rgba(0, 0, 0, 0.07);
}
.aside-framework__logo-container {
    padding: 33px 103px 0 61px;
    margin-bottom: 79px;
}
.aside-framework .nav__list {
    display: flex;
    flex-direction: column;
}
.aside-framework .list-item__wrapper {
    padding: 0 10px 0 37px;
    border-right: 6px solid transparent;
}
.aside-framework .list-item__wrapper:hover {
    background: rgba(32, 136, 189, 0.1);
    border-right: 6px solid #2088BD20;
}
.aside-framework .nav__list-item.active > .list-item__wrapper{
    background: rgba(32, 136, 189, 0.3);
    border-right: 6px solid #2088BD;
}
.aside-framework .list-item__wrapper a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 18px 0;
    color: #585E62;
    font-size: 22px;
}
.aside-framework .list-item__minus {
    display: none;
}
.aside-framework .nav__list-item.active > .list-item__wrapper a {
    color: #2088BD;
}
.aside-framework .nav__list-item.active .list-item__plus {
    display: none;
}
.aside-framework .nav__list-item.active .list-item__minus {
    display: block;
}
.aside-framework .nav__list-item.active > .list-item__wrapper a svg rect, .aside-framework .nav__list-item.active > .list-item__wrapper a svg path{
    fill: #2088BD;
}
.aside-framework .nav__list-item .menu-icon:not(.list-item__plus, .list-item__minus) {
    margin-right: 28px;
}
.aside-framework .nav__list-item a .list-item__plus, .aside-framework .nav__list-item a .list-item__minus {
    margin-left: auto;
}
.aside-framework .sublist {
    display: none;
    margin-left: 50px;
}
.aside-framework .sublist-item {
    border-left: 2px solid #585E62;
}
.aside-framework .sublist-item .list-item__wrapper {
    position: relative;
    padding-left: 43px;
}
.aside-framework .sublist-item .list-item__wrapper::before {
    content:'';
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 50%;
    width: 28px;
    border: 2px solid #585E62;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
}
.aside-framework .sublist-item .list-item__wrapper::after {
    content: '';
    background: url('../../assets/icons/Arrow_sub.svg') no-repeat center/cover;
    position: absolute;
    display: block;
    top: 49%;
    left: 6%;
    width: 8px;
    height: 12px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.aside-framework .sublist > .sublist-item:last-child {
    border-left: 2px solid transparent;
  } */