.framedropdown {
    /* position: absolute; */
    border: 2px solid #2088BD;
    background: #d7eef6;
    font-size: small;
    width: 12em;
    padding: 10px;
    /* height: 5em; */
    margin: -3.5em -12em;
    border-radius: 10px;
    color: #2088BD;
  }

  .framedropdown-active {
    display: block;
  }

  .framedropdown-inactive {
    display: none;
  }

  .more-action-contianer {
    position: relative;
  }
  /* .frametoggler:focus {
    outline: none;
  }
  
  .frametoggler:focus + .framedropdown {
    display: block;
  } */

  .framedropdown a {
    text-decoration: underline;
    cursor: pointer;
  }